.signin-route
  display: grid
  place-items: center

  form
    width: 100%
    max-width: 500px

    .input-group
      margin-bottom: 10px
      display: flex
      flex-direction: column

      &:last-of-type
        margin-bottom: 15px

      label
        margin-bottom: 0
        font-size: 17px

        .required-field
          color: #f00

      .input-errors
        p
          margin: 0
          color: #f00

    input[type='submit']
      width: 100%

      &.disabled
        opacity: 0.75
        cursor: no-drop

    .signin-error
      color: #f00


